* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.layout-wrapper {
    min-height: 100vh;
}

/* CSS to align header text vertically and at the bottom */
.vertical-header {
    writing-mode: vertical-rl;
    /* Makes the text vertical */
    transform: rotate(180deg);
    /* Inverts the text direction */
    text-align: center;
    /* Centers the text horizontally */
    white-space: nowrap;
    /* Prevents wrapping */
    padding: 0 5px;
    /* Adds padding to the text */
    min-height: 80px;
    /* Ensures a minimum height for the header */
    height: auto;
    /* Lets the height adjust based on text length */
    position: relative;
    top: 100%;
    /* Moves the text to the bottom */
}